In [1]:
import sys,os
import h5py
import pandas as pd

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from wgpack.dportal import readDP_CTD, OxHz2DO, veh_list

In [2]:
vid = veh_list['sv3-251']
tst = pd.to_datetime('2022-03-28 00:00:00')
ten = pd.to_datetime('2022-03-29 00:00:00')

ctdDPdf = readDP_CTD(vid,
                     start_date=tst.strftime("%Y-%m-%dT%H:%M:00.000Z"),
                     end_date=ten.strftime("%Y-%m-%dT%H:%M:00.000Z"))
ctdDPdf

,latitude,longitude,time,conductivity,dissolvedOxygen,oxygenHz,oxygenSolubility,pressure,salinity,temperature
2022-03-28 00:51:09,0.0,0.0,1.648429e+09,5.56237,NaN,NaN,4.504528,8.650000,34.402702,28.234600
2022-03-28 00:51:14,0.0,0.0,1.648429e+09,5.56268,NaN,NaN,4.504250,9.080000,34.401750,28.238700
2022-03-28 00:51:19,0.0,0.0,1.648429e+09,5.56264,NaN,NaN,4.504291,8.570000,34.402130,28.237999
2022-03-28 00:51:24,0.0,0.0,1.648429e+09,5.56269,NaN,NaN,4.504232,8.510000,34.401844,28.238900
2022-03-28 00:51:29,0.0,0.0,1.648429e+09,5.56217,NaN,NaN,4.504624,8.080000,34.402350,28.233398
...,...,...,...,...,...,...,...,...,...,...
2022-03-28 23:06:32,0.0,0.0,1.648509e+09,5.56910,NaN,NaN,4.513183,8.160000,34.579780,28.056702
2022-03-28 23:06:37,0.0,0.0,1.648509e+09,5.56901,NaN,NaN,4.513338,8.889999,34.580700,28.054298
2022-03-28 23:06:42,0.0,0.0,1.648509e+09,5.56907,NaN,NaN,4.513176,8.770000,34.579174,28.057000
2022-03-28 23:06:47,0.0,0.0,1.648509e+09,5.56920,NaN,NaN,4.513198,8.830000,34.580654,28.056198
2022-03-28 23:06:52,0.0,0.0,1.648509e+09,5.56913,NaN,NaN,4.513170,8.590000,34.579723,28.056900

In [18]:
import matplotlib.pyplot as plt
import numpy as np

# np.sqrt(41.7**2-32.3**2)
# *1.852

(23E3/0.5)/3600

12.777777777777779