In [2]:
import sys,os
import h5py
import pandas as pd

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from wgpack.dportal import readDP_CTD, OxHz2DO, veh_list

In [9]:
# FEB 14 - MAR 11 - DPAA Tinian/Saipan Channel Cruise - R/V Kilo Moana - Eric, Drew, Sophia, Kurt, Andy, Bob, Nixon, Heidi, Justin, Ryan B., Ryan M. (MPLETCA and MPLETTS)
vid = veh_list['sv3-253']
tst = pd.to_datetime('2022-03-28 00:00:00')
ten = pd.to_datetime('2022-03-29 00:00:00')

ctdDPdf = readDP_CTD(vid,
                     start_date=tst.strftime("%Y-%m-%dT%H:%M:00.000Z"),
                     end_date=ten.strftime("%Y-%m-%dT%H:%M:00.000Z"))
ctdDPdf

,latitude,longitude,time,conductivity,dissolvedOxygen,oxygenHz,oxygenSolubility,pressure,salinity,temperature
2022-03-28 00:05:08,0.0,0.0,1.648426e+09,5.44242,NaN,NaN,4.622803,8.559999,34.823270,26.5210
2022-03-28 00:05:13,0.0,0.0,1.648426e+09,5.44249,NaN,NaN,4.622632,8.930000,34.821545,26.5238
2022-03-28 00:05:18,0.0,0.0,1.648426e+09,5.44253,NaN,NaN,4.622734,9.059999,34.823227,26.5219
2022-03-28 00:05:23,0.0,0.0,1.648426e+09,5.44246,NaN,NaN,4.622925,8.270000,34.825380,26.5187
2022-03-28 00:05:28,0.0,0.0,1.648426e+09,5.44245,NaN,NaN,4.622956,8.309999,34.825676,26.5182
...,...,...,...,...,...,...,...,...,...,...
2022-03-28 23:58:16,0.0,0.0,1.648512e+09,5.46175,NaN,NaN,4.609530,8.680000,34.835125,26.6896
2022-03-28 23:58:21,0.0,0.0,1.648512e+09,5.46182,NaN,NaN,4.609445,8.969999,34.834557,26.6909
2022-03-28 23:58:26,0.0,0.0,1.648512e+09,5.46184,NaN,NaN,4.609304,9.020000,34.832880,26.6933
2022-03-28 23:59:51,0.0,0.0,1.648512e+09,5.46169,NaN,NaN,4.609332,8.930000,34.831833,26.6933
2022-03-28 23:59:56,0.0,0.0,1.648512e+09,5.46170,NaN,NaN,4.609422,8.260000,34.833390,26.6916

In [18]:
import matplotlib.pyplot as plt
import numpy as np

# np.sqrt(41.7**2-32.3**2)
# *1.852

(23E3/0.5)/3600

12.777777777777779